/nbproject/
target/
target/calc-jsf-1.0.war
target/jacoco.exec
target/maven-archiver/pom.properties
target/site/jacoco/jacoco.xml
target/site/jacoco/jacoco-sessions.html
target/surefire-reports/com.mycompany.calculator.jsf.maven.BasicTest.txt
target/surefire-reports/emailable-report.html
target/surefire-reports/index.html
target/surefire-reports/testng-results.xml
target/surefire-reports/Surefire suite/Surefire test.html
target/surefire-reports/Surefire suite/Surefire test.xml
target/surefire-reports/junitreports/TEST-com.mycompany.calculator.jsf.maven.BasicTest.xml
target/surefire-reports/old/Surefire suite/methods.html
target/surefire-reports/old/Surefire suite/methods-alphabetical.html
